<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994547183269-eitfdhh89cfaeob7424odkknq658lc1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994547183269-eitfdhh89cfaeob7424odkknq658lc1g</string>
	<key>API_KEY</key>
	<string>AIzaSyAlWeUlQz8VgxQXBZ2QAyfMeuPsox91-mo</string>
	<key>GCM_SENDER_ID</key>
	<string>994547183269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webzone.qatarcyclistscenter</string>
	<key>PROJECT_ID</key>
	<string>qatarcyclists-408b5</string>
	<key>STORAGE_BUCKET</key>
	<string>qatarcyclists-408b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994547183269:ios:4afd9faec8176a426a674c</string>
	<key>DATABASE_URL</key>
	<string>https://qatarcyclists-408b5.firebaseio.com</string>
</dict>
</plist>